{{ assign $site.title = '新しいページ | ' . $site.title }}
{{ assign $site.description = '新しいページの説明 | ' . $site.description }}
{{ assign $site.url = '<%= url %>' }}

{{ transclude '<%= '../'.repeat(relativePathCount) %>template/siteframe' }}

{{ section contents }}

<div class="p-<%= className %>">
    <!-- Add your content here -->
</div>

{{ end section contents }}